<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Documentation - Port Russell</title>
</head>
<body>
    <h1>Comment utiliser le site ?</h1>
    <p>Bienvenue dans l'aide du site du port de plaisance Russell.</p>
    <h2>Se connecter</h2>
    <p>Lors de votre inscription, vous avez reçu un mot de passe. Il suffit donc sur la page d'accueil du site d'entrer le mail que vous nous avez donné et le mot de passe pour rejoindre votre tableau de bord.</p>
    <h2>Le tableau de bord</h2>
    <p>Votre tableau de bord est simple pour éviter toute confusion. De là, vous pouvez accéder à la liste de tous les pontons du Port de plaisance Russell, avec leurs spécificités (court ou long et l'état du ponton).</p>
    <h2>Réserver un ponton</h2>
    <p>Pour réserver un emplacement, il suffit de cliquer sur le bouton réserver sous le ponton qui vous intéresse. Vous arriverez alors sur une page avec les liste des réservations déjà prévu pour ce ponton, ce qui vous permet de voir s'il est disponible quand vous souhaitez en bénéficier.</p>
    <p>Une fois que vous avez trouvé le ponton qui vous convient, il vous suffit de remplir le formulaire de réservation, situé sous la liste des pontons. Vous noterez que votre nom est déjà prérempli.</p>
    <p>Une fois la réservation faite, elle apparaîtra immédiatement dans la liste.</p>
    <p>Il ne vous est pas possible de la modifier, mais vous pouvez la supprimer - quitte à en recréer une dans la foulée. Il ne vous serez en revanche pas possible de supprimer les réservations des autres utilisateurs.</p>
    <br>
    <p>En cas de soucis, n'hésitez pas à contacter le Port Russell, par mail ou téléphone.</p>
    <a href="/">Retour à l'accueil</a>
</body>
</html>
