<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenue au Port de plaisance Russell</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>
<body>
    <h1>Bienvenue au port de plaisance Russell</h1>
    <p>Texte de présentation</p>

    <form action="/auth/login" method="POST">
        <div>
            <label for="email">Email :</label>
            <input type="email" name="email"required>
        </div>

        <div>
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" required>
        </div>

        <button type="submit" class="btn btn-primary">Se connecter</button>
    </form>
</body>
</html>